{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% macro js_bundle(filename) %}
  {# HTML comment is needed for webpack-dev-server to replace assets
     with development version #}
  <!-- Bundle js {{ filename }} START -->
  {% for entry in js_manifest(filename) %}
    <script src="{{ entry }}" async></script>
  {% endfor %}
  <!-- Bundle js {{ filename }} END -->
{% endmacro %}

{% macro css_bundle(filename) %}
	<!-- Aquagis css START -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" /> 
<style>
#main-menu, .ant-menu-horizontal {     background-color: #fff ; color: #000;}
.ant-menu-horizontal>.ant-menu-item a, .css-d1dar4 { color: #000 !important;}
.css-4zkusw .ant-menu-item a:hover, css-d1dar4:hover { background-color: #00abb5 !important; }
.ant-btn:focus, .ant-btn:hover {
    color: #f29c88;
    background: #fff;
    border-color: #f29c88;
}
.css-1ryksrc{
  background-color: #d64633;
  color: #fff;
}
.css-h6xiue-button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.5715;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    text-transform: uppercase;
    padding: 0px 18px;
    transition: all 0.3s ease 0s;
    box-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(27, 170, 159);
    border-radius: 4px;
    color: rgb(27, 170, 159);
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
}

.ant-btn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0,0,0,.85);
    background: #fff;
    border: 1px solid #d9d9d9;
}
 /* favorites section on dashboard  */
 .css-1xcaxb4{
    background-color: #d64633 !important;
}
.css-1xcaxb4:hover{
    background-color: #f29c88 !important;
}
    /* favorites section on charts */
.css-1ryksrc{
    background-color: #d64633;
}
.css-1ryksrc:hover{
    background-color: #f29c88;
}


  /* main menu charts and dashboards hover efect  */
  .css-4zkusw .ant-menu-item a:hover, css-d1dar4:hover{
    background-color: #f29c88;
  }
  /* main menu + sign  */

  .css-d1dar4 > .ant-menu-submenu-title:hover {
    color: #f29c88;
  }
  /* database drop down menu on +  */
  .ant-menu-vertical > .ant-menu-submenu.data-menu > .ant-menu-submenu-title {
    color: #fff ;
  }
  /* drop down on + and on database  */

  .css-1npbnjo.ant-menu-item{
    color: #fff ;
  }
  .css-1npbnjo{
    color:#fff 
  }
.ant-menu-vertical > .ant-menu-submenu.data-menu > .ant-menu-submenu-title:hover{
    color: #fff;
}

.ant-menu-vertical
    > .ant-menu-submenu.data-menu
    > .ant-menu-submenu-title:hover {
    color: #f29c88;
  }

 /* manu line under charts */
 .css-wke4wm.ant-menu-item a::after {
    background-color: #d64633;
  }
 
 
  .ant-menu-submenu-popup > .ant-menu{
    border: 2px solid #d64633;
    border-radius: 8px;
  }



 /* other items in + */
 .ant-menu-item a {
    color: black;
  }
  .ant-menu-item a:hover {
    color: #fff;
  }
  .ant-menu-horizontal > .ant-menu-item-active,
  .ant-menu-horizontal > .ant-menu-item:hover,
  .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
    color: #f29c88;
  }
  .css-nfjnv9 .ant-row.menu button {
    color: #d64633;
  }




/* Add border on settings tab  */

#main-menu > div > div.ant-col.ant-col-xs-24.ant-col-md-8 > div > ul > li:nth-child(2) > div > span:nth-child(2) > div{
  color:#d64633
}
#app > div > div.ant-collapse.ant-collapse-icon-position-left.ant-collapse-ghost.css-118ea0f > div:nth-child(2) > div.ant-collapse-content.ant-collapse-content-active > div > div.css-vhf0sc > div > div > button.ant-btn.superset-button.css-ow4zzs{
  border-color: #d64633;
}
#\32 \$Menu > li > a:hover{
  color: #f29c88;
}
#\33 \$Menu > li > a:hover{
  color: #f29c88;
}
#item_0\$Menu > li > ul> li> a:hover {
    color: #f29c88;
}
#item_0\$Menu > li > ul > li:hover {
    border: 1px solid #f29c88;
    border-radius: 8px;
}
#\32 \$Menu > li:hover {
    border: 1px solid #f29c88;
    border-radius: 8px;
}
#\33 \$Menu > li:hover {
    border: 1px solid #f29c88;
    border-radius: 8px;
}
/* hard buttons !!! raboti v b */


.css-vhf0sc .menu .ant-menu-item li.no-router a, .css-vhf0sc .menu .ant-menu-item div.no-router a{
    background-color: #d64633;
}



#app > div > div.ant-collapse.ant-collapse-icon-position-left.ant-collapse-ghost.css-118ea0f > div > div.ant-collapse-content.ant-collapse-content-active > div > div.css-vhf0sc > div > ul > li.ant-menu-item.ant-menu-item-only-child.css-wke4wm.ant-menu-item-active > div > a:hover{
  background-color: #f29c88;
}




  /* test other page  */
  /* .css-vhf0sc .menu {
  background-color: red;} */



  #item_1\$Menu > li > ul > li:hover {
    border: 1px solid #f29c88;
    border-radius: 8px;
}
#app > div > div.ant-collapse.ant-collapse-icon-position-left.ant-collapse-ghost.css-118ea0f > div > div.ant-collapse-content.ant-collapse-content-active > div > div.css-13aka0m > div > div.ant-empty-footer > button{
  background-color: #d64633;
}
/* List tables test  */

  #main-menu > div > div.ant-col.ant-col-xs-24.ant-col-md-16 > ul > li{
    color:#000;
  }
  #main-menu > div > div.ant-col.ant-col-xs-24.ant-col-md-16 > ul > li> a:hover{
    background-color: #f29c88;
  }
 
  
  #search-action{
    background-color: #d64633;
    border-color: #d64633;
  }
  .btn-primary{
    background-color: #d64633;
    border-color: #d64633;
  }
  #search-action:hover{
    background-color: #f29c88;
  }
  body > div.container > div > div.panel.panel-primary > div.panel-body > div > div.table-responsive > table > thead > tr > th> a{
    color: #d64633;
  }

  #filter_form > button > i{
    color: #d64633;
  }
  body > div.container > div > div.panel.panel-primary > div.panel-body > div > div.table-responsive > table > thead > tr > th:nth-child(7){
    color: #d64633
  }
  body > div.container > div > div.panel.panel-primary > div.panel-body > div > span > a{
    background-color: #d64633;
  }
   body > div.container > div > div.panel.panel-primary > div.panel-body > div > span > a:hover{
    background-color: #f29c88;
  }


  /* LIST ROLES */
  #app > div.css-vhf0sc > div > div.nav-right > ul {
    background: #fff;
}



#main-menu > div > div.ant-col.ant-col-xs-24.ant-col-md-16 > ul{
  background: #fff;
}
#main-menu > div > div.ant-col.ant-col-xs-24.ant-col-md-8 > div > ul > li.ant-menu-submenu.ant-menu-submenu-horizontal.menu-d1dar4 > div{
  background: #fff;
}
#main-menu > div > div.ant-col.ant-col-xs-24.ant-col-md-8 > div > ul > li.ant-menu-submenu.ant-menu-submenu-horizontal.menu-d1dar4 {
    background: #fff;
}
  
  body > div.container > div > div.panel.panel-primary > div.panel-body > div > div.form-actions-container > div > button {
    background:#d64633;
    color: #fff;
    border-color: #d64633;
}
body > div.container > div > div.panel.panel-primary > div.panel-body > div > div.form-actions-container > div > button:hover {
    background:#f29c88;
    color: #fff;
    border-color: #d64633;
}
body > div.container > div > div.panel.panel-primary > div.panel-body > div > div.form-actions-container > div > button > span {
    color: #fff;
}


/* Information  */

#Home > div.well.well-sm > a.btn.btn-sm.btn-primary{
  background:#d64633;
    color: #fff;
    border-color: #d64633;
}
#Home > div.well.well-sm > a.btn.btn-sm.btn-primary:hover{
  background: #f29c88;
    color: #fff;
    border-color: #d64633;
}
body > div.container > div > div.panel.panel-primary > div.panel-body > div > div.table-responsive > table > thead > tr > th:nth-child(2){
  color:#d64633;
}

/* signali i otcheti 
 */
 #\32 \$Menu{
  border: 2px solid #d64633;
    border-radius: 8px;
   }
   #\33 \$Menu{
  border: 2px solid #d64633;
    border-radius: 8px;
   }
 #item_0\$Menu{
    border: 2px solid #d64633;
    border-radius: 8px;
   }
 #app > div.css-auk1s1 > div > div.body.empty > div > div > div.css-1plckuo > button{
  color:#fff;
  background-color: #d64633;
  border-color:#d64633;
 }
 #app > div.css-auk1s1 > div > div.body.empty > div > div > div.css-1plckuo > button{
  color:#fff;
  background-color: #f29c88;
  border-color:#d64633;
 }
 #app > div.css-vhf0sc > div.ant-row.menu > div.nav-right > button.ant-btn.superset-button.css-1xcaxb4{
  color:#fff;
  background-color: #d64633;
  border-color:#d64633;
 }
 #app > div.css-vhf0sc > div.ant-row.menu > div.nav-right > button.ant-btn.superset-button.css-1xcaxb4:hover{
  color:#fff;
  background-color: #f29c88;
  border-color:#d64633;
 }
 #app > div.css-vhf0sc > div.ant-row.menu > div.nav-right > button.ant-btn.superset-button.css-10t0a4g{
  color:#fff;
  background-color: #d64633;
  border-color:#d64633;
 }
#app > div.css-vhf0sc > div.ant-row.menu > div.nav-right > button.ant-btn.superset-button.css-10t0a4g:hover{
  color:#fff;
  background-color: #f29c88;
  border-color:#d64633;
}

.ant-input-affix-wrapper:hover {
    border-color: 2px solid #f29c88;
}
#app > div.css-auk1s1 > div.superset-list-view.annotation-layers-list-view > div.header > div > div.css-1v4672h > div > div > div:hover{
  border-color: #d64633;

}

#app > div.css-vhf0sc > div.css-1qao0z4 > span > span > svg{
  color:#d64633;
}




/* anotacii  */

#app > div.css-auk1s1 > div.pagination-container > ul > li.active > span{
  background-color: #d64633;
}




/* danni  */



#app > div.css-auk1s1 > div.superset-list-view.dataset-list-view > div.header > div > div > div > div > div.ant-select-selector:hover {
    border: 2px solid #f29c88;
}

.css-vhf0sc .menu .ant-menu-item li.active > a, .css-vhf0sc .menu .ant-menu-item li.active > div, .css-vhf0sc .menu .ant-menu-item div.active > div, .css-vhf0sc .menu .ant-menu-item li > a:hover, .css-vhf0sc .menu .ant-menu-item li > a:focus, .css-vhf0sc .menu .ant-menu-item li > div:hover, .css-vhf0sc .menu .ant-menu-item div > div:hover, .css-vhf0sc .menu .ant-menu-item div > a:hover {
    background: #f29c88;
  }
 





</style>
	<!-- Aquagis css END -->

  <!-- Bundle css {{ filename }} START -->
  {% for entry in css_manifest(filename) %}
    <link rel="stylesheet" type="text/css" href="{{ entry }}" />
  {% endfor %}
  <!-- Bundle css {{ filename }} END -->
{% endmacro %}
